body{
    background-color: green;
}
.blanco{
        color: white;
        font-style: italic;
}
.amarillo{
    color: yellow;
}
.red{
    color: red;
}
.raro{
    color: #edc03b;
    letter-spacing: 3px;
}
p {
   font-size:150%;
}

.tablanav{
    width:80%;
    text-align: center;
    background-color: white;
    border-color:red;
    border: 5px dashed;
}
.tablanav td{
    border:3px ridge black;
}