

table{
    margin-bottom: 20px
}
.rojo {
    border-style: dotted; 
    border-color: red;
    text-align:center;
}

.tdsincelda {
    border-style:hidden;
    text-align: center;
}
.centrado{
    text-align: center;
}
.conborder{
    text-align:center;
    border-style:solid;
    border-bottom:50px;
    border-top:0px;
    border-left:0px;
    border-right:0px;
}
tr.tdborderbottom td{
    border-bottom: 2pt solid black;
    border-top: none;
    border-left: 0px;
    border-right: none;
}
tr.imagensincelda td{
    border:none;
}

.tablanav{
    width:80%;
    text-align: center;
    background-color: white;
    border-color:red;
    border: 5px dashed;
    width:800px;
    margin-bottom:20px;
}
.tablanav td{
    border:3px ridge black;
}