body{
    background-color: green;
}
.blanco{
        color: white;
        font-style: italic;
}
.amarillo{
    color: yellow;
}
.red{
    color: red;
}
.raro{
    color: #edc03b;
    letter-spacing: 3px;
}
p {
   font-size:150%;
}