/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-nov-2017, 17:20:01
    Author     : Los Prieto
*/

table.tabla td{
    border: none;
    padding: 5px;
}
.tdnegro{
    background-color: #6e6f72;
    color:white;
    font-size:18px;
    vertical-align: text-top; 
}
.tdgris{
    background-color: #edf1f7;
    text-align: center;
}
.tdnaranja{
    background-color: #f7c251;
}
img{
    height: 30px;
    vertical-align: middle;
}

.tablanav{
    width:80%;
    text-align: center;
    background-color: white;
    border-color:red;
    border: 5px dashed;
}
.tablanav td{
    border:3px ridge black;
}