/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-dic-2017, 17:10:10
    Author     : Esther
*/

body{
    background-color:mediumspringgreen;
    text-align: center;
}
h1{
    color: chocolate;
    font-size: 5rem;
    font-family: 'Gloria Hallelujah', cursive;
}
.right{
    justify-content: flex-start;
    text-indent: 50px;
    border-right: 5px solid white;
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'Corben', cursive;
    font-size: 2rem;
}
.izq{
    justify-content: flex-end;
    text-indent: 50px;
    border-left: 5px solid white;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 2rem;
    font-family: 'Gruppo', cursive;
}
.gris{
    background-color: lightgray;
    border-bottom: 1px solid red;
    padding-left: 2%;
    padding-right: 2%;
    text-decoration: overline;
}
.negrita{
    font-weight: bold;
}
.negritaAlta{
    font-variant: small-caps;
    font-weight: bold;
    border-bottom: 1.5px red dashed;
}
#flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}