/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-dic-2017, 19:24:38
    Author     : Los Prieto
*/

body{
    background-color: #e5d1e7;
    margin: 0px;
}
.titulo1{
    font-size: 20px;
    color: black;
    background-color: white;
    border-top: solid 1.5px #771c2f;
    border-bottom: solid 1.5px #771c2f;
    margin-top: 1px;
    font-weight: bold;
}
.izquierda{
    display:inline-block;
    float:left;
    width: 6.5%;
}
.izquierda div{
    background-color: white;
    color:#771c2f;
    border: solid 1.5px #771c2f;
    margin-top: 4px;
}
.centro{
    display: inline-block;
    width: 91%;
    background-color: white;
    margin-left: 2%;
    margin-top: 0.3%;
    overflow: scroll;
}
.titulo2{
    margin: 0%;
    background-color: #771c2f;
    color:white;
}
.mayusculas{
    font-weight: bold;
    font-variant: small-caps;
}
img{
    width: 30%;
    height: 30%;
    border-top: solid 1.5px #771c2f;
    border-bottom: solid 1.5px #771c2f;
    margin-left: 30%;
    padding: 1px;
}
/* Navbar container */
            .navbar {
                overflow: hidden;
                background-color: #212121;
                font-family: Arial;
                display: block;
            }
            /* Links inside the navbar */
            .navbar a {
                float: left;
                font-size: 16px;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
            /* The dropdown container */
            .dropdown {
                float: left;
                font-size:16px;
                overflow: hidden;
            }
            /* Dropdown button */
            .dropdown .dropbtn {
                font-size: 16px; 
                border: none;
                outline: none;
                color: white;
                padding: 14px 16px;
                background-color: inherit;
            }
            /* Add a red background color to navbar links on hover */
            .navbar a:hover, .dropdown:hover .dropbtn {
                background-color: #081527;
            }
            /* Dropdown content (hidden by default) */
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }
            /* Links inside the dropdown */
            .dropdown-content a {
                float: none;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
            }
            /* Add a grey background color to dropdown links on hover */
            .dropdown-content a:hover {
                background-color: #ddd;
            }
            /* Show the dropdown menu on hover */
            .dropdown:hover .dropdown-content {
                display: block;
            }
            .blurry-text {
                color: transparent;
                text-shadow: 0 0 15px rgba(0,0,0,0.5);
            }
            .blurry-text:hover {
                color:black;
               text-shadow: 0 0 0px rgba(0,0,0,0.5);
               cursor: default;
            }