/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-dic-2017, 16:09:28
    Author     : Esther
*/
body{
    background-color: goldenrod;
}
h1{
    font-family: 'Cabin Sketch', cursive;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 20px;
}
.div1{
    text-align: justify;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.spanNegrita{
    font-weight: bold;
}
.spanSubray{
    text-decoration: underline;
}
.izq{
    display: flex;
    font-size: 3rem;
    justify-content: flex-start;
    font-family: 'Pacifico', cursive; 
}
.right{
    display: flex;
    font-size: 3rem;
    color: white;
    justify-content: flex-end;
    font-family: 'Indie Flower', cursive;
}
#flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}