/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-ene-2018, 9:59:24
    Author     : daw
*/

#titulazo{
    text-align: center;
    background-color:#4165e5;
    border: 2px #4165e5 ridge;
    padding: 40px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.titulo{
    color: #4165e5;
    border-bottom: 2px dotted black;
    margin-top: 30px;
    padding-bottom: 5px;
    margin-left: 20px;
}
.txtleft{
    width: 130px;
    display: inline-block;
    margin-top: 4px;
}

.clear{
    clear:left;
    clear:right;
    margin-left: 40px;
    margin-right: 50px;
}

.txtright{
    float:right;
    width:100px;
}
.inputright{
    float:right;
    width: 70px;
}
.txtright2{
    float:right;
    margin-right: 204px;
}
#check{
    margin-top: 30px;
    margin-left: 40px;
}
.radioright{
    float:right;
    clear:right;
    margin-right: 170px;
    margin-bottom: 10px;
}
.txtcheck{
    float:right;
    width: 90px;
}
#textareaa{
    clear:both;
    float: left;
}
#textareaspan{
    
}