/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-nov-2017, 9:18:38
    Author     : daw
*/

body{
    border: 9px solid darkslategray;
    margin: 0;
    background-color: cadetblue;
}
h1{
    text-align: center;
    font-size: 4rem;
    font-family: 'Quicksand', sans-serif;
}
.div1{
    border: 4.5px solid darkslategray;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    color: white;
    font-family: 'Roboto Mono', monospace;
    background-color: darkslategray;
    font-weight: bold;
}
.p1{
    margin: 5px;
    text-align: justify;
}
.cajon1{
    border: 4.5px solid darkslategray;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.div3{
    margin: 40px;
    background-color: gray;
    padding: 20px;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 3%;
}
.lista{
    background-color: darkslategray;
    display: flex;
    flex-direction: row;
}
.divtexto{
    text-align: justify;
    padding: 10px;
    margin-left: 20px;
    color: white;
    font-weight: normal;
    flex-grow: 2;
}
.div5{
    background-color: darkslategray;
}
.img1 {
    width: 200px; 
    height: 200px;
    margin: 8px;
    padding: 6px;
    border: solid 4px white;
    overflow: visible;
    margin-right: 25px;
    flex-grow: 1;
}

.divespacio{
    margin-top: 10px;
}
.azulpeq{
    background-color: darkslategray;
    height: 150px;
    color: white;
    margin-bottom: 8px;
}
.img3{
    float: left;
    width: 200px; 
    height: 210px;
    margin-right: 25px;
    padding: 6px;
    border: solid 4px white;
    overflow: visible;
}
.img4{
    float: right;
    width: 200px; 
    height: 230px;
    margin-left: 25px;
    padding: 6px;
    border: solid 4px white;
    overflow: visible;
}
.autor{
    margin-left: 15px;
}