/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-dic-2017, 20:11:20
    Author     : Esther
*/

body{
    background-color: lightgray;
    font-family: 'Share Tech', sans-serif;
}
.titulo{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.caja{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.div1{
    background-color: dimgray;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cajon1{

}
img{
    width: 180px;
    height: 180px;
    padding-left: 200px;
}
.texto{
    text-align: justify;
    text-indent: 50px;
}
.espacio2{
    margin-bottom: 200px;
}
.rojo{
    color: crimson;
}
.negrita{
    font-weight: bold;
    background-color: white;
}
.texto2{
    margin-top: 15px;
}
.fa {

}
